local-data-cache/node-red/sample_flow.json
[
    {
        "id": "1c4a02e69dc1a133",
        "type": "tab",
        "label": "Check Postgresql ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99d3ebc93ec98190",
        "type": "tab",
        "label": "OPC-UA Demo server",
        "disabled": false,
        "info": "\n[Defined Objects]\n\nNamespace: Line AB\nObjects:\n- name: \"TemperatureSensor\"\n  variables:\n  - name: \"Temperature\"\n    defaultValue: 20.0\n- name: \"PressureSensor\"\n  variables:\n  - name: \"Pressure\"\n    defaultValue: 150.0\n  ",
        "env": []
    },
    {
        "id": "803dfbf7f7e9d2f1",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgresql.db.svc.cluster.local",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "monitoring_db",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "ecs_user",
        "userFieldType": "str",
        "password": "VMware123",
        "passwordFieldType": "str"
    },
    {
        "id": "f904273510c93877",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://opc-ua.opc-ua.svc.cluster.local:4840/freeopcua/server/",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "274ca7c1864c8b32",
        "type": "inject",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "0aa18bcb6b5a7443"
            ]
        ]
    },
    {
        "id": "f4af2d8b30446713",
        "type": "debug",
        "z": "1c4a02e69dc1a133",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "0aa18bcb6b5a7443",
        "type": "postgresql",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "query": "SELECT * FROM devicestatus;",
        "postgreSQLConfig": "803dfbf7f7e9d2f1",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "f4af2d8b30446713"
            ]
        ]
    },
    {
        "id": "4a3cfe616fc316a2",
        "type": "inject",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devicename\":\"mydevice2\",\"value\":987}",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "1caedb4a4a1f986a"
            ]
        ]
    },
    {
        "id": "19b9a7405cc0bcd0",
        "type": "debug",
        "z": "1c4a02e69dc1a133",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "3db1b1a2971d4caa",
        "type": "postgresql",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "803dfbf7f7e9d2f1",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "19b9a7405cc0bcd0"
            ]
        ]
    },
    {
        "id": "1caedb4a4a1f986a",
        "type": "template",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO devicestatus (devicename, devicevalue) VALUES ('{{payload.devicename}}',{{payload.value}});",
        "output": "str",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "3db1b1a2971d4caa"
            ]
        ]
    },
    {
        "id": "123d187836c75028",
        "type": "inject",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "7186e616e68b8750"
            ]
        ]
    },
    {
        "id": "fdb1b67f8c2cdbd5",
        "type": "debug",
        "z": "1c4a02e69dc1a133",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "7186e616e68b8750",
        "type": "postgresql",
        "z": "1c4a02e69dc1a133",
        "name": "",
        "query": "DELETE FROM devicestatus where timestamp < NOW() - INTERVAL '6 hours';",
        "postgreSQLConfig": "803dfbf7f7e9d2f1",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "fdb1b67f8c2cdbd5"
            ]
        ]
    },
    {
        "id": "873efe81f772498f",
        "type": "comment",
        "z": "1c4a02e69dc1a133",
        "name": "Show entries in postgresql",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "29da45e9c7629f6a",
        "type": "comment",
        "z": "1c4a02e69dc1a133",
        "name": "no use: inject test data for troubleshoot",
        "info": "",
        "x": 210,
        "y": 300,
        "wires": []
    },
    {
        "id": "31973c1cf4ad0d84",
        "type": "comment",
        "z": "1c4a02e69dc1a133",
        "name": "no use: delete entries older than 12 hours to keep the data just enough for demo",
        "info": "",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "64971cef156a3a52",
        "type": "inject",
        "z": "99d3ebc93ec98190",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "865c222e0756d33d",
                "b7d41e8ad4a928da"
            ]
        ]
    },
    {
        "id": "7880f5f10e01db7c",
        "type": "comment",
        "z": "99d3ebc93ec98190",
        "name": "OPC-UA Read",
        "info": "This is to retrieve the data from sensors periodically and to feed that to postgresql.\nBy Default it is configured to collect/feed for two pre-configured sensors.\nTo add other sensors, copy the flow and change OPC-UA parameter accordingly.",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "865c222e0756d33d",
        "type": "OpcUa-Item",
        "z": "99d3ebc93ec98190",
        "item": "ns=2;i=2",
        "datatype": "Int64",
        "value": "",
        "name": "",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "28c421aee6824599"
            ]
        ]
    },
    {
        "id": "b7d41e8ad4a928da",
        "type": "OpcUa-Item",
        "z": "99d3ebc93ec98190",
        "item": "ns=2;i=4",
        "datatype": "Int64",
        "value": "",
        "name": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "e5b30b3ceaed93af"
            ]
        ]
    },
    {
        "id": "28c421aee6824599",
        "type": "OpcUa-Client",
        "z": "99d3ebc93ec98190",
        "endpoint": "f904273510c93877",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "756ebecb31a60117"
            ],
            [],
            []
        ]
    },
    {
        "id": "e5b30b3ceaed93af",
        "type": "OpcUa-Client",
        "z": "99d3ebc93ec98190",
        "endpoint": "f904273510c93877",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 640,
        "y": 380,
        "wires": [
            [
                "e8ff5dca37826269"
            ],
            [],
            []
        ]
    },
    {
        "id": "1de228893cea4c92",
        "type": "postgresql",
        "z": "99d3ebc93ec98190",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "803dfbf7f7e9d2f1",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1150,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "756ebecb31a60117",
        "type": "template",
        "z": "99d3ebc93ec98190",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO devicestatus (devicename, devicevalue) VALUES ('tempsensor',{{payload}});",
        "output": "str",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "1de228893cea4c92"
            ]
        ]
    },
    {
        "id": "e8ff5dca37826269",
        "type": "template",
        "z": "99d3ebc93ec98190",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO devicestatus (devicename, devicevalue) VALUES ('pressuresensor',{{payload}});",
        "output": "str",
        "x": 860,
        "y": 380,
        "wires": [
            [
                "1de228893cea4c92"
            ]
        ]
    }
]
