node-red/samples_flows.json
[
    {
        "id": "4ccf6a1cffd4d5b1",
        "type": "tab",
        "label": "ChemicalPlant",
        "disabled": false,
        "info": "GRFICS Modbus Mapping\n\nREMOTE MODBUS IO DEVICES\n192.168.X.10 - feed 1\n\tholding register 1 - valve position set point 0-65535, where 0 is closed and 65535 is open\n\tinput regiser 1 - valve position reading\n\tinput register 2 - flow rate through valve\n\t\n192.168.X.11 - feed 2\n\tholding register 1 - valve position set point\n\tinput regiser 1 - valve position reading\n\tinput register 2 - flow rate through valve\n\t\n192.168.X.12 - purge valve\n\tholding register 1 - valve position set point\n\tinput regiser 1 - valve position reading\n\tinput register 2 - flow rate through valve\n\t\n192.168.X.13 - product valve\n\tholding register 1 - valve position set point\n\tinput regiser 1 - valve position reading\n\tinput register 2 - flow rate through valve\n\n192.168.X.14 - tank\n\tinput register 1 - pressure\n\tinput register 2 - level\n\t\n192.168.X.15 - analyzer\n\tinput registers 1-3 composition of gases in reactor"
    },
    {
        "id": "e9e380c7db9836c8",
        "type": "tab",
        "label": "OPC-UA Demo server",
        "disabled": false,
        "info": "\n[Defined Objects]\n\nNamespace: Line AB\nObjects:\n- name: \"TemperatureSensor\"\n  variables:\n  - name: \"Temperature\"\n    defaultValue: 20.0\n- name: \"PressureSensor\"\n  variables:\n  - name: \"Pressure\"\n    defaultValue: 150.0\n  ",
        "env": []
    },
    {
        "id": "5d82bdbeefb27ef2",
        "type": "modbus-client",
        "name": "feed1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.10",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6ecd880978656db2",
        "type": "modbus-client",
        "name": "feed2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.11",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "aad3ea31c39c9d55",
        "type": "modbus-client",
        "name": "purge-valve",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.12",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "03dd7a2f565044fb",
        "type": "modbus-client",
        "name": "tank",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.14",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a0877f48ece96b8b",
        "type": "modbus-client",
        "name": "product-valve",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.13",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3201ecda289c82c6",
        "type": "modbus-client",
        "name": "analyzer",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.15",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6c6d98160d9e203c",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.50.126:4840/freeopcua/server/",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "6d525bbd03140f1a",
        "type": "modbus-read",
        "z": "4ccf6a1cffd4d5b1",
        "name": "feed1-Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "5d82bdbeefb27ef2",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "2152aaa9b76e006c"
            ],
            []
        ]
    },
    {
        "id": "2152aaa9b76e006c",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "feed1-readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f998465fdd76d98",
        "type": "modbus-write",
        "z": "4ccf6a1cffd4d5b1",
        "name": "feed1-Open-Setting",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "5d82bdbeefb27ef2",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "0136a687ede4f912"
            ],
            []
        ]
    },
    {
        "id": "0ed79d00b8081b1e",
        "type": "inject",
        "z": "4ccf6a1cffd4d5b1",
        "name": "Valve-Openess1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "8f998465fdd76d98"
            ]
        ]
    },
    {
        "id": "0136a687ede4f912",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "659c0262b896678b",
        "type": "modbus-read",
        "z": "4ccf6a1cffd4d5b1",
        "name": "feed2-Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6ecd880978656db2",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "919b36e65e32a273"
            ],
            []
        ]
    },
    {
        "id": "919b36e65e32a273",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "feed2-readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "20353807109bc5cb",
        "type": "modbus-read",
        "z": "4ccf6a1cffd4d5b1",
        "name": "purge-valve-Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "aad3ea31c39c9d55",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "a2f509d704b1498e"
            ],
            []
        ]
    },
    {
        "id": "a2f509d704b1498e",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "purge-valve-readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 680,
        "wires": []
    },
    {
        "id": "72b85f76f1cb5702",
        "type": "modbus-read",
        "z": "4ccf6a1cffd4d5b1",
        "name": "product-valve-Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0877f48ece96b8b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "c70e1e1b792bc108"
            ],
            []
        ]
    },
    {
        "id": "c70e1e1b792bc108",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "product-valve-readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "ff7e82bbd7448deb",
        "type": "modbus-read",
        "z": "4ccf6a1cffd4d5b1",
        "name": "tank-Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "03dd7a2f565044fb",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "4bfd55b3f3420167"
            ],
            []
        ]
    },
    {
        "id": "4bfd55b3f3420167",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "tank-readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b05b8379612bfa13",
        "type": "modbus-read",
        "z": "4ccf6a1cffd4d5b1",
        "name": "analyzer-Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3201ecda289c82c6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "81aee7e5cf007c98"
            ],
            []
        ]
    },
    {
        "id": "81aee7e5cf007c98",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "analyzer-readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1229c5a775f74885",
        "type": "modbus-write",
        "z": "4ccf6a1cffd4d5b1",
        "name": "feed2-Open-Setting",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "6ecd880978656db2",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "29abef9f8394eb0b"
            ],
            []
        ]
    },
    {
        "id": "d3db303249562683",
        "type": "inject",
        "z": "4ccf6a1cffd4d5b1",
        "name": "Valve-Openess2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "1229c5a775f74885"
            ]
        ]
    },
    {
        "id": "29abef9f8394eb0b",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "46d700c7d64303e6",
        "type": "modbus-write",
        "z": "4ccf6a1cffd4d5b1",
        "name": "purge-valve-Open-Setting",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "aad3ea31c39c9d55",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "ffcee2a026f63eea"
            ],
            []
        ]
    },
    {
        "id": "6becdf9f80a8ef88",
        "type": "inject",
        "z": "4ccf6a1cffd4d5b1",
        "name": "Valve-Openess3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "65535",
        "payloadType": "num",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "46d700c7d64303e6"
            ]
        ]
    },
    {
        "id": "ffcee2a026f63eea",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "deff9e3225bd348b",
        "type": "modbus-write",
        "z": "4ccf6a1cffd4d5b1",
        "name": "product-valve-Open-Setting",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "a0877f48ece96b8b",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 940,
        "wires": [
            [
                "2a5fc52198ef4503"
            ],
            []
        ]
    },
    {
        "id": "11038054d92eb63b",
        "type": "inject",
        "z": "4ccf6a1cffd4d5b1",
        "name": "Valve-Openess4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "65535",
        "payloadType": "num",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "deff9e3225bd348b"
            ]
        ]
    },
    {
        "id": "2a5fc52198ef4503",
        "type": "debug",
        "z": "4ccf6a1cffd4d5b1",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 940,
        "wires": []
    },
    {
        "id": "c8e00165f989a060",
        "type": "debug",
        "z": "e9e380c7db9836c8",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "9908670a2db92446",
        "type": "OpcUa-Client",
        "z": "e9e380c7db9836c8",
        "endpoint": "6c6d98160d9e203c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "c8e00165f989a060"
            ],
            []
        ]
    },
    {
        "id": "685310ca18d1a39a",
        "type": "OpcUa-Item",
        "z": "e9e380c7db9836c8",
        "item": "ns=2;i=2",
        "datatype": "Int64",
        "value": "",
        "name": "",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "9908670a2db92446"
            ]
        ]
    },
    {
        "id": "dd5d21dcba80b484",
        "type": "inject",
        "z": "e9e380c7db9836c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "685310ca18d1a39a"
            ]
        ]
    },
    {
        "id": "eece2922f2262aa3",
        "type": "debug",
        "z": "e9e380c7db9836c8",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "13f504cb23b2a3ac",
        "type": "OpcUa-Client",
        "z": "e9e380c7db9836c8",
        "endpoint": "6c6d98160d9e203c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "eece2922f2262aa3"
            ],
            []
        ]
    },
    {
        "id": "4b97c07e72363910",
        "type": "OpcUa-Item",
        "z": "e9e380c7db9836c8",
        "item": "ns=2;i=4",
        "datatype": "Int64",
        "value": "",
        "name": "",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "13f504cb23b2a3ac"
            ]
        ]
    },
    {
        "id": "e7fb4749b5dbc39e",
        "type": "inject",
        "z": "e9e380c7db9836c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "4b97c07e72363910"
            ]
        ]
    },
    {
        "id": "336ae2061550f91c",
        "type": "comment",
        "z": "e9e380c7db9836c8",
        "name": "OPC-UA Read",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    }
]
